<%- include("partials/header") -%>
<% startingContent.forEach(post => { %>
<h1><%= post.title %></h1>
<p><%= post.content.substring(0, 100) + "..." %><a href="/posts/<%= post.url%> "> Read More</a></p>
<% }) %>
<%- include("partials/footer") -%>